body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

header {
  text-align: center;
  padding: 25px 15px;
  background: #00c853;
  color: #000;
}

main {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #1e1e1e;
  padding: 20px;
  margin: 15px 0;
  border-radius: 15px;
}

.balance {
  text-align: center;
}

.balance h2 {
  font-size: 38px;
  color: #00e676;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 14px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #00c853;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

button:active {
  transform: scale(0.98);
}
